
@{
    Layout = null;
}






<html>
<head>
    <title>TerraTech Login</title>
</head>
<body>
    <h1 align="center">Login</h1>
    @using (Html.BeginForm("Authorise", "Entities", FormMethod.Post))
    {
        <table cellpadding="5">

            <tr>
                <td>Name:</td>
                <td><input type="text" name="Username" /></td>
            </tr>

            <tr>
                <td>Name:</td>
                <td><input type="text" name="Password" /></td>
            </tr>

        </table>
        <br />
        <input type="submit" value="Submit" />
    }

    @*Username,user.Password,user.Email,user.GivenName,user.MaidenName,user.FamilyName*@

    <h1 align="center">Register</h1>

    @using (Html.BeginForm("Register", "Entities", FormMethod.Post))
    {
        <table cellpadding="5">

            <tr>
                <td></td>
                <td><input type="text" name="Username" placeholder="Username"/></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="text" name="Password" placeholder="Password" /></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="text" name="Email" placeholder="Email Address"/></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="text" name="GivenName" placeholder="Given Name" /></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="text" name="MaidenName" placeholder="Maiden Name"/></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="text" name="FamilyName" placeholder="Family Name" /></td>
            </tr>


        </table>
        <br />
        <input type="submit" value="Submit" />
    }

</body>
</html>

